@font-face {
  font-family: 'Press Start';
  src: url('src/assets/fonts/PressStart2P-Regular.ttf');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Amatic';
  src: url('src/assets/fonts/AmaticSC-Regular.ttf');
  font-display: auto;
  font-style: normal;
  font-weight: 400;
}
